<!--component html goes here -->
<mat-card class="class-model-container m-3">
    <mat-card-header class="separator">
        <mat-card-title class="d-flex align-items-center">{{name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="d-flex flex-column justify-content-center align-items-start p-3 separator">
            <!-- fields -->
        </div>
        <div class="d-flex flex-column justify-content-center align-items-start p-3">
           <div *ngFor="let key of methods">{{key}}()</div>
        </div>
    </mat-card-content>
</mat-card>